@inject NavigationManager NavigationManager
@using Turister.Shared

<div class="tour-card">
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <img class="tour-card-img" src="@Place.Images.FirstOrDefault()" alt="@Place.Title" @onclick="GoTo"/>
            <div>
                @foreach (Tag tag in Place.Tags)
                {
                    <Badge Color="Color.Primary">@tag.Title</Badge>
                }
            </div>
            
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <h3 class="tour-card-caps">@Place.Title</h3>
            <span class="tour-card-rating tour-card-caps"><i class="far fa-star"></i> @Place.Rating</span>
            <p>@Place.Description</p>
            <span class="place-card-footer-span tour-card-caps"><i class="fas fa-map-marker"></i> @Place.Distance км</span>
        </Column>
    </Row>
</div>

@code {
    [Parameter]
    public Place Place { get; set; }

    public void GoTo()
    {
        NavigationManager.NavigateTo($"/Place/{Place.Id}");
    }
}
