@inject NavigationManager NavigationManager
@using Turister.Shared

<div class="card">
    <div class="placecardcollumn">
        <img class="placeimg" src="@Place.Images.FirstOrDefault()" alt="@Place.Title" @onclick="GoTo" />
        <div>
            @foreach (Tag tag in Place.Tags)
            {
                <span class="tag">@tag.Title</span>
            }
        </div>
    </div>
    <div class="placecardcollumn">
        <h3>@Place.Title</h3>
        <span class="star">@Place.Rating</span>
        <p>@Place.Description</p>
    </div>
</div>

@code {
    [Parameter]
    public Place Place { get; set; }

    public void GoTo()
    {
        NavigationManager.NavigateTo($"/Place/{Place.Id}");
    }
}
