@inject NavigationManager NavigationManager
@using Turister.Shared

<div class="card">
    <div class="placecardcollumn">
        <img class="placeimg" src="@place.Images.FirstOrDefault()" alt="@place.Title" @onclick="GoTo" />
        <div>
            @foreach (Tag tag in place.Tags)
            {
                <span class="tag">@tag.Title</span>
            }
        </div>
    </div>
    <div class="placecardcollumn">
        <h3>@place.Title</h3>
        <span class="star">@place.Rating</span>
        <p>@place.Description</p>
    </div>
</div>

@code {
    [Parameter]
    public Turister.Shared.Place place { get; set; }

    public void GoTo()
    {
        NavigationManager.NavigateTo($"/place/{place.Id}");
    }
}
