@inject NavigationManager NavigationManager
@using Turister.Shared

<div class="tour-card">
    <Row>
        <Column ColumnSize="ColumnSize.Is6">
            <img class="tour-card-img" src="@Tour.Images.FirstOrDefault()" alt="@Tour.Title" @onclick="GoTo"/>
            <div>
                @foreach (Tag tag in Tour.Tags)
                {
                    <Badge Color="Color.Primary">@tag.Title</Badge>
                }
            </div>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <h3 class="tour-card-caps">@Tour.Title</h3>
            <span class="tour-card-rating tour-card-caps"><i class="far fa-star"></i> @Tour.Rating</span>
            <p>@Tour.Description</p>
        </Column>
    </Row>
    <Row class="tour-card-footer tour-card-caps">
        <span><i class="fas fa-map-marker"></i> @Tour.Distance км</span>
        <span><i class="fas fa-home"></i> @Tour.PlacesId.Count мест</span>
        <span><i class="far fa-clock"></i> @Tour.Time.Hours:@Tour.Time.Minutes ч</span>
    </Row>
</div>

@code {
    [Parameter]
    public Tour Tour { get; set; }

    public void GoTo()
    {
        NavigationManager.NavigateTo($"/Tour/{Tour.Id}");
    }
}